.Grid {
    border-style: inset;
}
rect.none {
    fill-opacity: 0;
    fill: red;
    
}
rect.none:hover {
    fill-opacity: 0.25;
}
rect.correct {
    fill: green;
    fill-opacity: 0.25;
}
rect.correct:hover {
    fill: red;
}
rect.movable {
    fill:blue;
    fill-opacity: 0;
} 
rect.movable:hover {
    fill-opacity: 0.25;
    fill:blue;
}
rect.correctmovable {
    fill:green;
    fill-opacity: 0.25;
}
rect.correctmovable:hover {
    fill-opacity: 0.25;
    fill:blue;
}
rect.unmovableblink {
    fill: purple;
    fill-opacity: 0.5;
    
}
